@import url(normalize.css);
@import url(layout.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
body {
  font-family: 'Roboto', sans-serif;
  color: #919191; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #566366;
  text-transform: uppercase; }

h2 {
  font-size: 30px;
  margin-bottom: 45px; }

h3 {
  font-size: 22px; }

p {
  color: #919191;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; }

a {
  text-decoration: none; }

.ba-button {
  color: #fff;
  height: 55px;
  line-height: 51px;
  border: 2px solid #fff;
  text-transform: uppercase;
  padding: 0 20px;
  display: block; }
  .ba-button:hover {
    color: #2ecc71;
    border: 2px solid #2ecc71; }
  .ba-button--green {
    color: #2ecc71;
    border: 2px solid #2ecc71; }
    .ba-button--green:hover {
      color: #566366;
      border: 2px solid #566366; }
  .ba-button--form {
    background: #191f21;
    border: #191f21;
    max-width: 185px; }

.ba-resume {
  padding: 95px 0;
  background: #f2f2f1;
  text-align: center;
  position: relative; }
  .ba-resume:after {
    content: "";
    border: 15px solid #f2f2f1;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    bottom: -29px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .ba-resume__text {
    margin-bottom: 45px; }

/* Layout */
.ba-container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1200px; }

.ba-header {
  background: url(../img/ba-header.jpg);
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .ba-header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .ba-header__title {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 50px; }
  .ba-header__bottom {
    background: #252e30; }
  .ba-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0; }

.ba-logo:hover .ba-logo1 {
  color: #2ecc71; }

.ba-logo1 {
  color: #fff;
  font-size: 30px;
  line-height: 42px;
  width: 42px;
  display: inline-block;
  background: #4b5456;
  text-align: center; }

.ba-logo2 {
  font-size: 30px;
  margin-left: 10px;
  color: #fff;
  text-transform: uppercase;
  line-height: 42px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .ba-logo2 span {
    color: #2ecc71; }

.ba-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
  line-height: 42px; }
  .ba-nav__item {
    text-transform: uppercase;
    color: #fff;
    padding-left: 30px;
    font-size: 16px; }
    .ba-nav__item:hover {
      color: #2ecc71;
      cursor: pointer; }

/* text */
.ba-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  padding: 95px 0; }
  .ba-text__item--center {
    margin-right: 50px;
    margin-left: 50px; }

.ba-about {
  background: #f2f2f1; }
  .ba-about__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .ba-about img {
    height: 100%; }
  .ba-about__item:last-child {
    padding: 95px 0  0 60px;
    max-width: 780px; }
  .ba-about__text {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .ba-about__part {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px; }

.icon {
  fill: #2ecc71;
  margin-right: 25px; }

.ba-skills {
  padding: 95px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .ba-skills__item:first-child {
    padding-right: 50px; }
  .ba-skills__item:last-child {
    padding-left: 50px; }
  .ba-skills__text {
    margin-bottom: 30px; }
  .ba-skills__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    .ba-skills__item h3 {
      margin: 30px 0 15px; }

.ba-line {
  background: #f2f2f1; }
  .ba-line--green {
    background: #2ecc71;
    height: 30px;
    line-height: 30px;
    color: #fff;
    padding-right: 10px;
    text-align: right; }
  .ba-line--width1 {
    width: 90%; }
  .ba-line--width2 {
    width: 80%; }
  .ba-line--width3 {
    width: 70%; }

.ba-portfolio {
  text-align: center;
  padding: 95px 0 55px; }
  .ba-portfolio p {
    margin-bottom: 95px; }
  .ba-portfolio__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left; }
  .ba-portfolio__item {
    background-color: #59d08b;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    min-height: 300px;
    margin-bottom: 40px;
    position: relative;
    font-size: 0; }
    .ba-portfolio__item:hover img {
      opacity: .25; }
    .ba-portfolio__item:hover .loop {
      visibility: visible; }
    .ba-portfolio__item img {
      min-height: 100%; }
    .ba-portfolio__item:first-child {
      padding: 35px 30px 0;
      background-color: #252e30;
      font-size: 18px; }
    .ba-portfolio__item-title {
      font-size: 18px;
      color: #fff;
      margin-bottom: 35px; }
    .ba-portfolio__item-list {
      list-style: none;
      padding-left: 0; }
    .ba-portfolio__item-link {
      margin-bottom: 15px; }
      .ba-portfolio__item-link a {
        color: #919191; }
        .ba-portfolio__item-link a:hover {
          color: #fff; }
  .ba-portfolio__item--center {
    margin: 0 40px 40px; }

.loop {
  fill: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  visibility: hidden; }

.ba-contact {
  padding: 95px 0;
  background: #252e30; }
  .ba-contact__title {
    color: #fff;
    margin-bottom: 40px; }
  .ba-contact__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .ba-contact__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    .ba-contact__item:first-child {
      padding-right: 45px; }

.ba-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .ba-info__part {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .ba-info__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin: 0; }
  .ba-info__title {
    color: #fff; }

.ba-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .ba-form label {
    color: #fff;
    margin-bottom: 15px; }
    .ba-form label span {
      color: #919191; }
  .ba-form input {
    height: 55px;
    line-height: 55px; }
  .ba-form textarea {
    min-height: 280px;
    padding-top: 15px; }
  .ba-form input, .ba-form textarea {
    margin-bottom: 30px;
    background: #4b5456;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px; }

.ba-footer {
  background: #191f21;
  min-height: 185px;
  padding: 45px 0;
  text-align: center; }
  .ba-footer__text {
    margin: 0 0 25px;
    color: #4b5456; }
  .ba-footer__link {
    display: inline-block;
    background: #4b5456;
    width: 35px;
    height: 35px;
    line-height: 42px;
    border-radius: 50%; }
    .ba-footer__link:hover .social {
      fill: #fff; }
  .ba-footer .social {
    fill: #191f21; }

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
  white-space: nowrap; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }
